ColumnLimit: 666
AccessModifierOffset: -4
IndentWidth:     4
AlignArrayOfStructures: Right
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false 
  AfterFunctionDefinitionName: false 
